<nav class="bottom-nav">
  <a href="dashboard.html" data-nav="dashboard">
    <i data-feather="home"></i>
    Дашборд
  </a>
  <a href="journal.html" data-nav="journal">
    <i data-feather="book"></i>
    Журнал
  </a>
  <a href="schedule.html" data-nav="schedule">
    <i data-feather="calendar"></i>
    Расписание
  </a>
  <a href="grades.html" data-nav="grades">
    <i data-feather="bar-chart-2"></i>
    Оценки
  </a>
  <a href="notifications.html" data-nav="notifications">
    <i data-feather="bell"></i>
    Уведомления
  </a>
</nav>
