<aside class="sidebar">
  <div class="profile">
    <div class="logo-circle">OC</div>
    <strong>Оскар Сальников</strong>
    <span>Студент</span>
  </div>
  <ul class="sidebar-menu">
    <li>
      <a href="journal.html">
        <i data-feather="book-open"></i>
        Успеваемость
      </a>
    </li>
    <li>
      <a href="schedule.html">
        <i data-feather="calendar"></i>
        ИУП
      </a>
    </li>
    <li>
      <a href="dashboard.html">
        <i data-feather="briefcase"></i>
        УМКД
      </a>
    </li>
    <li>
      <a href="dashboard.html#settings">
        <i data-feather="settings"></i>
        Настройки
      </a>
    </li>
    <li>
      <a href="#qr">
        <i data-feather="smartphone"></i>
        <span>QR <span class="tag">beta</span></span>
      </a>
    </li>
  </ul>
  <div class="logout">
    <a href="login.html">
      <i data-feather="log-out"></i>
      Выход
    </a>
  </div>
</aside>
